:root {
    --blue: #0065FC;
    --grey: #F2F2F2;
    --black: #000000;
    --grey_bg: #D9D9D9;
    --bleu_clair_hover_filtre: #DEEBFF;
}

@media screen and (max-width:767px) {
    .a_header {
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid var(--grey);

    }

    .a_header:active,
    .a_header:focus {
        /* Au moment du clic */

        /* Change la couleur en rose */
    }


    .a_header:hover {
        color: var(--blue);


    }

    header {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .logo-booki {
        width: 65px;
        margin-top: 25px;

    }

    nav {
        position: relative;
        top: 15px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0;

    }

    ul {
        width: 100%;

        padding: 0;

    }

    li {
        text-align: center;
        width: 50%;

        padding: 0;


    }

    .Recherche {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rechercher {
        display: none;

    }

    .fa-magnifying-glass {
        color: white;
    }

    .fa-location-dot {
        width: 30px;
    }

    .button {
        width: 50px;
    }

    .input {
        width: 190px;
        height: 44px;
    }

    .filter {
        margin-left: 10px;
    }

    .filre_filter {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        margin-top: 10px;

    }

    .Filtre {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 180px;
        width: 100%;
    }

    .eco_et_famille {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;


    }


    .filre_filter {}

    #regroupe {

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .votre_hebergement {
        margin: 10px;
    }

    section {
        width: 100%;

    }

    .h2_mobile {
        font-size: 13px;
    }

    .element-filtre {
        height: 19px;
        width: 160px;
        position: relative;
        right: 20px;

    }

    .espace-filtre {
        padding: 0;

    }

    .information {

        position: relative;
        bottom: 20px;
        margin-left: 10px;

    }

    .element-filtre2 {
        display: flex;
        border-radius: 25px;
        padding: 8px;

        flex-direction: row;
        position: relative;
        right: 20px;
        width: 160px;
        height: 19px;
    }

    .element-filtre2:hover {
        background-color: var(--bleu_clair_hover_filtre);
    }

    .fa-money-bill-wave {
        font-size: 16px;
        margin-right: 5px;

    }

    .fa-person {
        font-size: 16px;
        margin-right: 5px;
    }

    .fa-heart {
        font-size: 16px;
        margin-right: 5px;
    }

    .fa-dog {
        font-size: 16px;
        margin-right: 10px;

    }

    .Hebergetaside {
        display: flex;
        flex-direction: column-reverse;
        height: 2300px;
    }

    .aside_media {
        height: 630px;
        border-radius: 0px 0px 0px 0px;
    }

    .photos_popu {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin: auto;

        width: 100%;
    }

    .Populaire1 {

        width: 90%;
    }

    .description {
        border: 1px solid green;

    }

    html {
        margin: 0
    }

    .center-filtre {
        font-size: 8px;
    }

    .block_popu {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .Hebergement {
        position: relative;
        background-color: white;
        height: 1800px;
    }

    .Photo-mini {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 1600px;
        width: 137%;
    }

    .block-photo-mini {
        margin: auto;
        width: 90%;
    }

    .afficher_plus {
        display: none;
    }

    .titre_activite {
        margin-left: 20px;
        width: 20%;
    }



    .Block_activite {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 2000px;
    }

    .photo_description {
        width: 90%;
        height: 450px;

    }

    footer {
        height: 450px;
        width: 100%;
    }

    .block_foot {
        display: flex;
        flex-direction: column;
        height: 450px;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-left: 0px;
    }

    .renseignement {
        position: relative;
        width: 280px;
        top: 20px;
        margin-left: 20px;
    }

    .p {

        position: relative;
        bottom: 20px;
    }

}